/* .language-selector {
    color: black;
    font-size: 16px;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-top: 15px;
    margin-left: 10px;
    font-weight: bold;
  } */