:root {
  --header-color: #40ABA8; /* Color del header */
  --nav-bar-color: #AFF4C6; /* Color de la barra de navegación */
  --background: #BDE3FF; /* Color de fondo */
}


.home-container {
  background-color: var(--background);
  height: 100vh;
  width: 100%;
  display: flex;
}

.nav-container {
  background-color: var(--nav-bar-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 15%;
}

/* Estilo para los enlaces de navegación */
.custom-nav .nav-link {
  color: rgb(59, 59, 59); /* Color de texto */
  margin-bottom: 15px; /* Espaciado entre los enlaces */
  transition: color 0.3s ease; /* Transición suave para el color */
}

.custom-nav .nav-link:hover {
  color: #0000003b; /* Color más claro al pasar el mouse */
}

.search-form {
  display: flex;
  flex-direction: column;
  align-items: start; 
  margin-top: 20px;
}

.search-input {
  margin-bottom: 15px;
  background-color: #e9ecef; /* Fondo claro */
  color: #495057; /* Texto oscuro */
  transition: background-color 0.3s ease, color 0.3s ease; /* Transición suave para el fondo y el color */
}

.search-input:focus {
  background-color: #ffffff; /* Fondo blanco al enfocar */
  color: #495057; /* Texto oscuro */
}

.search-button {
  color: #ffffff; 
  background-color: #343a40; 
  border: 1px solid #343a40; 
  transition: background-color 0.3s ease, color 0.3s ease;
}

.search-button:hover {
  background-color: #495057; /* Fondo más claro al pasar el mouse */
  color: #ffffff; /* Color del texto */
}
@media (max-width: 1200px) {
  .nav-container {
      width: 30%;
  }
}




.button-navbar-form {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.button-navbar {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  align-self: center;
  width: max-content;
}


/**/
.products {
  display: grid;
  margin: 100px;
  width: 100%;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  height: max-content; /* Altura fija o use overflow-y: auto */
  
}

.products img {
  width: 100%;
  height: 100%;
  display: block;
}

.products-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 100px;
}

.products-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  /* Ajuste de tamaño máximo para la tarjeta */
  max-width: 200px; /* Por ejemplo, ajusta según tus necesidades */
  margin-bottom: 20px; /* Espacio inferior reducido */
}

.products-card img {
  width: 100%; /* La imagen ocupa todo el ancho disponible */
  height: auto; /* Altura automática para mantener la proporción */
}







