.purchase-history-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.purchase-card {
    margin-bottom: 20px;
    background-color: #add2d1;
}

.purchase-card .card-body {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.purchase-card .card-title {
    font-size: 18px;
    margin-bottom: 10px;
}

.purchase-card .card-text {
    font-size: 14px;
}

.alert-info {
    margin-top: 20px;
    padding: 15px;
}
