@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
    box-sizing: border-box;
}

html {
    font-family: "Noto Sans JP", sans-serif;
    font-size: large;
}

body {
    margin: 0;
}

:root {
    /* donde esta el logo: */
    --header-color: #40ABA8;
    /* donde se encuentran las categorias */
    --nav-bar-color: #AFF4C6;
    /* fondo */
    --background: #BDE3FF;

}



