
.footer-container {
    background-color: #97a6b6;
    padding: 20px;
    border-top: 1px solid #e9ecef;
    color: #333;
    /* height: 10px; */
    justify-content: center;
    height: 200px;
    /* width: 100%; */
}
.footer {
}

.footer h5 {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: bold;
}

.footer p, .footer ul {
    font-size: 14px;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer ul li {
    margin-bottom: 10px;
}

.footer ul li a {
    text-decoration: none;
    color: #007bff;
}

.footer ul li a:hover {
    text-decoration: underline;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #6c757d;
}
