
.footer-container {
    background-color: #97a6b6;
    padding: 20px;
    border-top: 1px solid #e9ecef;
    color: #333;
    justify-content: center;
    /* height: 100%; */
}


.footer h5 {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: bold;
}

.footer p, .footer ul {
    font-size: 14px;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer ul li {
    margin-bottom: 10px;
}

.footer ul li a {
    text-decoration: none;
    color: #007bff;
}

.footer ul li a:hover {
    text-decoration: underline;
}

.derechos {
    text-align: center;
}
