/* .home {
    display: flex;
}

.home-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    background-color: #b2f6cd;
    padding: 1rem;
    border-right: 1px solid #ddd;
}

.home-container {
    margin-left: 250px;
    padding: 2rem;
    width: calc(100% - 250px);
}

.home-card {
    margin-bottom: 2rem;
}

.home-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.home-card .card-body {
    padding: 1rem;
}

.home-card .card-title {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.home-card .card-text {
    font-size: 1rem;
    color: #666;
}

.home-card .btn {
    margin-right: 1rem;
}
.header {
    width: 100%;
} */
 /* .home-card {
    margin-left: 200px;
} */
.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-card {
    margin-top: None;
}
